<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HOTELLOTTEFMS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>623BD97C235E9BC5008A9C74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623BD992235E9BC7008A9C74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623BD99D235E9BC7008A9C74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
